* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.title {
  text-align: center;
}

body {
  font-size: 14px;
  font-family: sans-serif;
}

body > div {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body > div > div {
  width: 500px;
  padding: 5px;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  height: 100%;
}

div li {
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
  border: 1px solid #888;
  padding: 8px;
  margin: 8px 0;
}

button {
  background: #7159c1;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

.buttons-list {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}

.bubble-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.bubble {
  background: #44dd;
  color: #fff;
  font-weight: 700;
  margin: 2px;
  padding: 4px;
}

div li button.-green {
  background: #22dd33;
}

.input-group {
  padding: 0 20px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.-far {
  margin: 10px;
}
